<!DOCTYPE html>
<html lang="en">
	<head>
		<title>wheelbarrow!</title>
		{{#each css}}
			<link rel="stylesheet" href="/Users/shanewetherington/git/wheelbarrow/public/assets/css/style.css">
		{{/each}}
	</head>
	<body>
		{{{ body }}}
		{{#each js}}
			<script src="../../models/wheelbarrow.js"></script>
		{{/each}}
	</body>
</html>