<div class="grid-container">
    <header class="header">
        <h1>Throw the Rock in the Bucket!!</h1>

    </header>
    <sidebar class="sidebar">
        {{#each rocks}}
        {{#unless this.in_bucket}}
        <div>
            <form action="/rocks/{{this.id}}?_method=PUT" method="POST">
                <button type="submit" class='rockAvail'> {{this.rock_name}}</button>
            </form>
        </div>
        {{/unless}}
        {{/each}}
    </sidebar>

    <main class="main">

        {{#each rocks}}
        {{#if this.in_bucket}}
        <div class='rockBucket'>
            <div>
                {{this.rock_name}}
            </div>
        </div>
        {{/if}}
        {{/each}}

        <h2>Add Your Favorite Rock</h2>


        <form action="/rocks" method="POST">
            <input type="text" id="name" name="rock_name" placeholder="Fancy Fancy Rocks!!">
            <button type="submit" class="addRockType">Add the Rock Right Here!</button>
        </form>

    </main>

</div>