<div class="grid-container">
    <header class="header">
        <h1>Rock In The Bucket</h1>
        <h2>***better than burgers***</h2>

    </header>
    <sidebar class="sidebar">
        {{#each rocks}}
        {{#unless this.in_bucket}}
        <div>
            <form action="/rocks/{{this.id}}?_method=PUT" method="POST">
                <button type="submit" class='rockAvail'> {{this.rock_name}}</button>
            </form>
        </div>
        {{/unless}}
        {{/each}}
    </sidebar>

    <main class="main">

        <h2>Add Your Favorite Rock</h2>

        <form action="/rocks" method="POST">
            <input type="text" id="name" name="rock_name" placeholder="Fancy Fancy Rocks!!">
            <button type="submit" class="addRockType">~Add Rock~</button>
        </form>

        <h2>In the Bucket!</h2>

        {{#each rocks}}
        {{#if this.in_bucket}}
        <div class='rockBucket'>
            <div>
                {{this.rock_name}}
            </div>
        </div>
        {{/if}}
        {{/each}}



    </main>

</div>