*{
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    height: 100%;
    font-family: 'Rock Salt', cursive;

}


header { grid-area: header; }
.sidebar { grid-area: sidebar; }
main { grid-area: main; }

.grid-container {
    display: grid;
    min-height: 100%;
    grid-template: 
                    ". header header ."
                    "main main main sidebar"
                    "main main main sidebar";
    grid-template-columns: auto auto auto auto;
    grid-gap: .3em;
    padding: .3em;
}

.grid-container > div {
    font-size: 1em;
}

header {
    border: solid red 2px;
    text-align: center;
}

.sidebar {
    border: solid skyblue 2px;
    background-image: url("../img/wheelbarrow.jpg");
    background-size: contain;

}

main {
    border: solid green 2px;
}